body {
  font-family: 'Poppins';
}

.ant-form-item {
  &.ant-form-item-has-error {
    .ant-input {
      border-color: red;
    }

    .ant-form-item-explain {
      position: absolute;
      top: 100%;
    }

    .ant-form-item-explain-error {
      color: red;
    }
  }
}

.ant-input.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #181c32;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e4e6ef;
  appearance: none;
  border-radius: 0.475rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ant-form-item {
  margin: 0;
}

.nssTextColor {
  color: #2a2b6b;
}

.nssBtnColor {
  background: #2a2b6b;
}

.btn-check:active + .btn.btn-active-success,
.btn-check:checked + .btn.btn-active-success,
.btn.btn-active-success.active,
.btn.btn-active-success.show,
.btn.btn-active-success:active:not(.btn-active),
.btn.btn-active-success:focus:not(.btn-active),
.btn.btn-active-success:hover:not(.btn-active),
.show > .btn.btn-active-success {
  color: #2a2b6b;
  border-color: #f5fcfb;
  background-color: #f5fcfb !important;
}

.bottom-bg {
  background-image: url(../images/login-bg.png);
  background-size: 100%;
  background-position: center 90%;
}

@media all and (min-width: 1180px) {
  .bottom-bg {
    background-size: 80%;
    background-position: center bottom;
  }
}

@media all and (min-width: 1400px) {
  .bottom-bg {
    background-size: 90%;
    background-position: center bottom;
  }
}

@media all and (min-width: 1600px) {
  .bottom-bg {
    background-size: 85%;
    background-position: center 130%;
  }
}

.custom-rounded {
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .custom-rounded {
    border-radius: 50%;
  }
}

/* .login-form-page {
  max-width: 0px;
} */

.login-logo {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 35%,
    #00b79c10 35%,
    #00b79c10 100%
  );
}

.aside-brand {
  border-bottom: 1px solid #eff2f5;
}

.nssBtnColorHover {
  transition: all 0.2s ease-in-out !important;
}

.nssBtnColorHover:hover {
  background-color: #ff7a00;
  border-color: #ff7a00;
  transition: all 0.2s ease-in-out !important;
}

.show-dropdown-menu {
  // display: none;
  position: absolute;
  // top: calc(100% + 0.5rem);
  right: 0;
  // z-index: 105;
}

.show-dropdown-menu.show {
  display: block;
}

.header-fixed.toolbar-fixed .wrapper {
  padding-top: 120px;
}

.toolbar-fixed .toolbar {
  height: 55px;
}

iframe {
  display: none !important;
}

/* Container smooth height */
.tab-content {
  position: relative;
  overflow: hidden;
}

.nav-line-tabs .nav-item .nav-link {
  padding: 8px 10px;
  margin: 0 5px;
}

.nav-line-tabs .nav-item .nav-link.active,
.nav-line-tabs .nav-item .nav-link:hover {
  background-color: #1cb8a1 !important;
  color: #ffffff;
}

/* Base */
.tab-pane {
  transition: all 0.35s ease;
  opacity: 0;
  transform: translateX(40px);
}

/* Active tab */
.tab-pane.active.show {
  opacity: 1;
  transform: translateX(0);
}

/* Slide left (Previous) */
.tab-pane.slide-left {
  transform: translateX(-40px);
  opacity: 0;
}

/* Slide right (Next) */
.tab-pane.slide-right {
  transform: translateX(40px);
  opacity: 0;
}

/* Smooth buttons feel */
#prevTabBtn,
#nextTabBtn {
  min-width: 120px;
}

.card .card-header {
  min-height: 56px;
}

.form-floating {
  position: relative;
  margin-bottom: 10px;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
}

.form-floating > label {
  font-weight: 500;
  color: #5e6278;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 1;
  transform: scale(0.85) translateY(-0.9rem) translateX(0.15rem);
  background: #fff;
  padding: 0px 8px 0px 8px;
  height: auto;
  border-radius: 4px;
}

.form-floating > .form-control,
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-select {
  padding: 0.75rem 1rem;
  min-height: inherit;
  height: inherit;
  line-height: 1.5;
}

.form-floating > .form-control:read-only:focus ~ label,
.form-floating > .form-select:read-only:focus ~ label {
  background: transparent;
}
